Pillow==10.1.0
torch==2.3.1
transformers==4.44.2
librosa==0.9.0
soundfile==0.12.1
vector-quantize-pytorch==1.18.5
vocos==0.1.0
decord
moviepy
pandas
requests
beautifulsoup4
openpyxl
accelerate
selenium
webdriver_manager
pdfplumber
modelscope